.createButton {
  border-radius: 8px;
  padding: 1rem;

  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;

  color: var(--gray-100);
  font-weight: 700;
  background-color: var(--blue-dark);
  transition: background-color 0.2s;
}

.createButton:hover {
  background-color: var(--blue);
}
