.header {
  background-color: var(--gray-700);
  height: 12.5rem;

  text-align: center;
}

.header img {
  margin-top: 4.5rem;
}

main {
  margin: 0 auto;
  max-width: calc(46rem + 1rem);
  padding: 0 1rem;
}
